<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <div class="container-lg">
      <!-- navigation -->
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <div>
            <a href="/" class="navbar-brand">回到首頁</a>
          </div>
          <div> <a href=""></a>
            <a href="/about" class="navbar-brand bg-light text-dark">About</a>
            <a href="/portfolio" class="navbar-brand bg-light text-dark">Portfolio</a>
            <a href="/contact" class="navbar-brand bg-light text-dark">Contact</a>
          </div>
          </form>
        </div>
      </nav>

      {{{body}}}
    </div>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>